body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main{
    display: flex;
    gap: 60px;
}

.left,
.right{
    flex: 1;
}

.left{
    padding-right: 40px;
}

.logo{
    font-size: 56px;
    color: #1877f2;
    font-weight: bold;

    margin-bottom: 10px;
}

.substitle{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    
    color: #1c1e21;
    margin: 0;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    background-color: #fff;
    padding: 20px;
    width: 360px;

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.login-box input{
    height: 52px;
    padding: 0 16px;
    margin-bottom: 12px;

    font-size: 17px;

    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login-btn{
    height: 48px;
    background-color: #1877f2;
    color: #fff;

    font-size: 20px;
    font-weight: bold;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.forgot{
    margin: 16px 0;
    text-align: center;

    color: #1887f2;
    text-decoration: none;
    font-size: 14px;
}

.divider {
    height: 1px;
    background-color: #dadde1;
    margin: 20px 0;
}

.create-btn{
    height: 48px;
    background-color: #42b72a;
    color: #fff;

    font-size: 17px;
    font-weight: bold;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}